NODE_ENV=production
DISCORD_TOKEN=
DISCORD_CLIENT_ID=
DISCORD_DEV_GUILD_ID=
DATABASE_URL="file:./prod.db"

DEFAULT_PREFIX=-

GIF_PROVIDER=giphy
GIPHY_API_KEY=
GIPHY_REQUESTS_PER_HOUR=100
GIPHY_RATING=pg
GIPHY_LANG=pt

GIF_DB_MIN_RATIO=0.65
GIF_DB_MAX_RATIO=0.85
GIF_GIPHY_MIN_RATIO=0.15
GIF_GIPHY_MAX_RATIO=0.35

ALLOW_NSFW=false
ALLOW_UNCATEGORIZED_GIFS=true
